# MetaData Based Recommendation System

In [1]:
import pandas as pd
import numpy as np

To Build the metaDataBased Recommendation System we need:, Director
    
    
1) The genres of the movies

2) Crew member, Director of the movie

3) Stars of the movie

4) Sub- geners or keywords

In [2]:
keyword = pd.read_csv('/Users/nandrajog/Downloads/keywords.csv',low_memory=True)

In [3]:
credit = pd.read_csv('/Users/nandrajog/Downloads/credits.csv',low_memory=True)

In [4]:
keyword.head(3)

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...

In [5]:
credit.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [6]:
clean_data = pd.read_csv('/Users/nandrajog/Downloads/clean_metadat.csv',low_memory=True)

new_data = pd.read_csv('/Users/nandrajog/Downloads/movies_metadata.csv',low_memory=True)

/anaconda3/envs/C-vision/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
clean_data.head(5)

                         title  runtime  vote_average  vote_count  year
0                    Toy Story     81.0           7.7      5415.0  1995
1                      Jumanji    104.0           6.9      2413.0  1995
2             Grumpier Old Men    101.0           6.5        92.0  1995
3            Waiting to Exhale    127.0           6.1        34.0  1995
4  Father of the Bride Part II    106.0           5.7       173.0  1995

In [8]:
new_data.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [9]:
clean_data['id'], clean_data['overview'] ,clean_data['genres'] = new_data['id'] , new_data['overview'], new_data['genres']

In [10]:
keyword.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

In [11]:
clean_data.tail(2)

,title,runtime,vote_average,vote_count,year,id,overview,genres
45464,Satan Triumphant,87.0,0.0,0.0,1917,227506,"In a small town live two brothers, one a minis...",[]
45465,Queerama,75.0,0.0,0.0,2017,461257,50 years after decriminalisation of homosexual...,[]

In [12]:
# #########################clean_data['id'] = clean_data['id'].astype(int)

In [13]:
def int_(x):
    try:
        x = int(x)
    except:
        x = np.nan
    return x

In [14]:
clean_data['id'] = clean_data['id'].apply(int_)

In [15]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 8 columns):
title           45460 non-null object
runtime         45203 non-null float64
vote_average    45460 non-null float64
vote_count      45460 non-null float64
year            45466 non-null int64
id              45463 non-null float64
overview        44512 non-null object
genres          45466 non-null object
dtypes: float64(4), int64(1), object(3)
memory usage: 2.8+ MB

In [16]:
clean_data = clean_data[clean_data['id'].notnull()]

In [17]:
clean_data

,title,runtime,vote_average,vote_count,year,id,overview,genres
0,Toy Story,81.0,7.7,5415.0,1995,862.0,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,104.0,6.9,2413.0,1995,8844.0,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,101.0,6.5,92.0,1995,15602.0,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,127.0,6.1,34.0,1995,31357.0,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,106.0,5.7,173.0,1995,11862.0,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...,...,...,...,...
45461,Subdue,90.0,4.0,1.0,0,439050.0,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45462,Century of Birthing,360.0,9.0,3.0,2011,111109.0,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]"
45463,Betrayal,90.0,3.8,6.0,2003,67758.0,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45464,Satan Triumphant,87.0,0.0,0.0,1917,227506.0,"In a small town live two brothers, one a minis...",[]
45465,Queerama,75.0,0.0,0.0,2017,461257.0,50 years after decriminalisation of homosexual...,[]

Now we will merge the 3 dataframe into one

In [18]:
clean_data['id'] =clean_data['id'].astype('int')
keyword['id'] = keyword['id'].astype('int')
credit['id'] = credit['id'].astype('int')

In [19]:
clean_data = clean_data.merge(keyword,on='id')
clean_data = clean_data.merge(credit,on='id')

In [20]:
clean_data['crew']

0        [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
1        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
2        [{'credit_id': '52fe466a9251416c75077a89', 'de...
3        [{'credit_id': '52fe44779251416c91011acb', 'de...
4        [{'credit_id': '52fe44959251416c75039ed7', 'de...
                               ...
46623    [{'credit_id': '5894a97d925141426c00818c', 'de...
46624    [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
46625    [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
46626    [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
46627    [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 46628, dtype: object

NOW what we did we actually merge all the columns into ONE

All have one thing in common i.e ID so we merege on ID

In [21]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46628 entries, 0 to 46627
Data columns (total 11 columns):
title           46624 non-null object
runtime         46360 non-null float64
vote_average    46624 non-null float64
vote_count      46624 non-null float64
year            46628 non-null int64
id              46628 non-null int64
overview        45633 non-null object
genres          46628 non-null object
keywords        46628 non-null object
cast            46628 non-null object
crew            46628 non-null object
dtypes: float64(3), int64(2), object(6)
memory usage: 4.3+ MB

In [22]:
columns = ['genres','cast','crew', 'keywords']

In [23]:
from ast import literal_eval

In [24]:
for feature in columns:
    clean_data[feature] = clean_data[feature].apply(literal_eval)

1)  Crew member, Director of the movie

In [25]:
def extract_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
#         else:
    return np.nan

In [26]:
clean_data['Director'] = clean_data['crew'].apply(extract_director)

In [27]:
clean_data

,title,runtime,vote_average,vote_count,year,id,overview,genres,keywords,cast,crew,Director
0,Toy Story,81.0,7.7,5415.0,1995,862,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,104.0,6.9,2413.0,1995,8844,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,101.0,6.5,92.0,1995,15602,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,127.0,6.1,34.0,1995,31357,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,106.0,5.7,173.0,1995,11862,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...
46623,Subdue,90.0,4.0,1.0,0,439050,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 10703, 'name': 'tragic love'}]","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",Hamid Nematollah
46624,Century of Birthing,360.0,9.0,3.0,2011,111109,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]","[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Lav Diaz
46625,Betrayal,90.0,3.8,6.0,2003,67758,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Mark L. Lester
46626,Satan Triumphant,87.0,0.0,0.0,1917,227506,"In a small town live two brothers, one a minis...",[],[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",Yakov Protazanov
46627,Queerama,75.0,0.0,0.0,2017,461257,50 years after decriminalisation of homosexual...,[],[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Daisy Asquith

In [28]:
clean_data['cast']

0        [{'cast_id': 14, 'character': 'Woody (voice)',...
1        [{'cast_id': 1, 'character': 'Alan Parrish', '...
2        [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3        [{'cast_id': 1, 'character': 'Savannah 'Vannah...
4        [{'cast_id': 1, 'character': 'George Banks', '...
                               ...
46623    [{'cast_id': 0, 'character': '', 'credit_id': ...
46624    [{'cast_id': 1002, 'character': 'Sister Angela...
46625    [{'cast_id': 6, 'character': 'Emily Shaw', 'cr...
46626    [{'cast_id': 2, 'character': '', 'credit_id': ...
46627                                                   []
Name: cast, Length: 46628, dtype: object

2) TOP 3 cast

In [29]:
# def cast_extraction(x):
#     if isinstance(x, list):
#         names = [i['name'] for i in x]
        
# #         print(names) 
#         if len(name) >3:
#             name = name[:3]
#         return name

In [30]:
# cast_extraction(clean_data['cast'])

In [31]:
# isinstance(clean_data['crew'], list)

In [32]:
# # Returns the list top 3 elements or entire list; whichever is more.
# def generate_list(x):
#     if isinstance(x, list):
#         names = [i['name'] for i in x]
#         #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
#         if len(names) > 3:
#             names = names[:3]
#         return names

#     #Return empty list in case of missing/malformed data
#     return []

In [33]:
# clean_data['cast'] = clean_data['cast'].apply(generate_list)

In [34]:
# clean_data

In [35]:
# def crew(x):
#     if isinstance(x,list):
#         name =[i['name'] for i in x]
        
#         if len(name) >3:
#             name = name[:3]
#         return name
#     return []

In [36]:
def crew(x):
    if isinstance(x,list):
        name =[]
        for i in x:
            name.append(i['name'])
        if len(name)>3:
            name = name[:3]
        return name
    return []

In [37]:
crew(clean_data['cast'])

[]

In [38]:
clean_data['cast'] = clean_data['cast'].apply(crew)

In [39]:
clean_data

,title,runtime,vote_average,vote_count,year,id,overview,genres,keywords,cast,crew,Director
0,Toy Story,81.0,7.7,5415.0,1995,862,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,104.0,6.9,2413.0,1995,8844,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,101.0,6.5,92.0,1995,15602,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 1495, 'name': 'fishing'}, {'id': 12392...","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,127.0,6.1,34.0,1995,31357,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 818, 'name': 'based on novel'}, {'id':...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,106.0,5.7,173.0,1995,11862,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...
46623,Subdue,90.0,4.0,1.0,0,439050,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 10703, 'name': 'tragic love'}]","[Leila Hatami, Kourosh Tahami, Elham Korda]","[{'credit_id': '5894a97d925141426c00818c', 'de...",Hamid Nematollah
46624,Century of Birthing,360.0,9.0,3.0,2011,111109,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]","[{'id': 2679, 'name': 'artist'}, {'id': 14531,...","[Angel Aquino, Perry Dizon, Hazel Orencio]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Lav Diaz
46625,Betrayal,90.0,3.8,6.0,2003,67758,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],"[Erika Eleniak, Adam Baldwin, Julie du Page]","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Mark L. Lester
46626,Satan Triumphant,87.0,0.0,0.0,1917,227506,"In a small town live two brothers, one a minis...",[],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",Yakov Protazanov
46627,Queerama,75.0,0.0,0.0,2017,461257,50 years after decriminalisation of homosexual...,[],[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Daisy Asquith

In [40]:
clean_data['keywords'] = clean_data['keywords'].apply(crew)

In [41]:
clean_data

,title,runtime,vote_average,vote_count,year,id,overview,genres,keywords,cast,crew,Director
0,Toy Story,81.0,7.7,5415.0,1995,862,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[jealousy, toy, boy]","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,104.0,6.9,2413.0,1995,8844,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,101.0,6.5,92.0,1995,15602,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[fishing, best friend, duringcreditsstinger]","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,127.0,6.1,34.0,1995,31357,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,106.0,5.7,173.0,1995,11862,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[baby, midlife crisis, confidence]","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...
46623,Subdue,90.0,4.0,1.0,0,439050,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",[tragic love],"[Leila Hatami, Kourosh Tahami, Elham Korda]","[{'credit_id': '5894a97d925141426c00818c', 'de...",Hamid Nematollah
46624,Century of Birthing,360.0,9.0,3.0,2011,111109,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]","[artist, play, pinoy]","[Angel Aquino, Perry Dizon, Hazel Orencio]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Lav Diaz
46625,Betrayal,90.0,3.8,6.0,2003,67758,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],"[Erika Eleniak, Adam Baldwin, Julie du Page]","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Mark L. Lester
46626,Satan Triumphant,87.0,0.0,0.0,1917,227506,"In a small town live two brothers, one a minis...",[],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",Yakov Protazanov
46627,Queerama,75.0,0.0,0.0,2017,461257,50 years after decriminalisation of homosexual...,[],[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Daisy Asquith

In [42]:
# clean_data['genres']

In [43]:
clean_data

,title,runtime,vote_average,vote_count,year,id,overview,genres,keywords,cast,crew,Director
0,Toy Story,81.0,7.7,5415.0,1995,862,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[jealousy, toy, boy]","[Tom Hanks, Tim Allen, Don Rickles]","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",John Lasseter
1,Jumanji,104.0,6.9,2413.0,1995,8844,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst]","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",Joe Johnston
2,Grumpier Old Men,101.0,6.5,92.0,1995,15602,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[fishing, best friend, duringcreditsstinger]","[Walter Matthau, Jack Lemmon, Ann-Margret]","[{'credit_id': '52fe466a9251416c75077a89', 'de...",Howard Deutch
3,Waiting to Exhale,127.0,6.1,34.0,1995,31357,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[based on novel, interracial relationship, sin...","[Whitney Houston, Angela Bassett, Loretta Devine]","[{'credit_id': '52fe44779251416c91011acb', 'de...",Forest Whitaker
4,Father of the Bride Part II,106.0,5.7,173.0,1995,11862,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]","[baby, midlife crisis, confidence]","[Steve Martin, Diane Keaton, Martin Short]","[{'credit_id': '52fe44959251416c75039ed7', 'de...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...
46623,Subdue,90.0,4.0,1.0,0,439050,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",[tragic love],"[Leila Hatami, Kourosh Tahami, Elham Korda]","[{'credit_id': '5894a97d925141426c00818c', 'de...",Hamid Nematollah
46624,Century of Birthing,360.0,9.0,3.0,2011,111109,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]","[artist, play, pinoy]","[Angel Aquino, Perry Dizon, Hazel Orencio]","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",Lav Diaz
46625,Betrayal,90.0,3.8,6.0,2003,67758,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],"[Erika Eleniak, Adam Baldwin, Julie du Page]","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",Mark L. Lester
46626,Satan Triumphant,87.0,0.0,0.0,1917,227506,"In a small town live two brothers, one a minis...",[],[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",Yakov Protazanov
46627,Queerama,75.0,0.0,0.0,2017,461257,50 years after decriminalisation of homosexual...,[],[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",Daisy Asquith

In [44]:
# Print the new features of the first 5 movies along with title
clean_data =clean_data[['title', 'cast', 'Director', 'keywords', 'genres']]

In [45]:
clean_data

,title,cast,Director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence]","[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...,...
46623,Subdue,"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah,[tragic love],"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
46624,Century of Birthing,"[Angel Aquino, Perry Dizon, Hazel Orencio]",Lav Diaz,"[artist, play, pinoy]","[{'id': 18, 'name': 'Drama'}]"
46625,Betrayal,"[Erika Eleniak, Adam Baldwin, Julie du Page]",Mark L. Lester,[],"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
46626,Satan Triumphant,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,[],[]
46627,Queerama,[],Daisy Asquith,[],[]

In [46]:
clean_data['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
46623    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
46624                        [{'id': 18, 'name': 'Drama'}]
46625    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
46626                                                   []
46627                                                   []
Name: genres, Length: 46628, dtype: object

In [47]:
def genres_(x):
    if isinstance(x,list):
        genres =[]
        for i in x:
            genres.append(i['name'])
        return genres
    return []

In [48]:
clean_data['genres'] = clean_data['genres'].apply(genres_)

/anaconda3/envs/C-vision/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [49]:
clean_data

,title,cast,Director,keywords,genres
0,Toy Story,"[Tom Hanks, Tim Allen, Don Rickles]",John Lasseter,"[jealousy, toy, boy]","[Animation, Comedy, Family]"
1,Jumanji,"[Robin Williams, Jonathan Hyde, Kirsten Dunst]",Joe Johnston,"[board game, disappearance, based on children'...","[Adventure, Fantasy, Family]"
2,Grumpier Old Men,"[Walter Matthau, Jack Lemmon, Ann-Margret]",Howard Deutch,"[fishing, best friend, duringcreditsstinger]","[Romance, Comedy]"
3,Waiting to Exhale,"[Whitney Houston, Angela Bassett, Loretta Devine]",Forest Whitaker,"[based on novel, interracial relationship, sin...","[Comedy, Drama, Romance]"
4,Father of the Bride Part II,"[Steve Martin, Diane Keaton, Martin Short]",Charles Shyer,"[baby, midlife crisis, confidence]",[Comedy]
...,...,...,...,...,...
46623,Subdue,"[Leila Hatami, Kourosh Tahami, Elham Korda]",Hamid Nematollah,[tragic love],"[Drama, Family]"
46624,Century of Birthing,"[Angel Aquino, Perry Dizon, Hazel Orencio]",Lav Diaz,"[artist, play, pinoy]",[Drama]
46625,Betrayal,"[Erika Eleniak, Adam Baldwin, Julie du Page]",Mark L. Lester,[],"[Action, Drama, Thriller]"
46626,Satan Triumphant,"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",Yakov Protazanov,[],[]
46627,Queerama,[],Daisy Asquith,[],[]

The Actor has similar name Ryan Reynolds & ryan Gosling so to make the recommendation better we need to play around with the name 

so what we are going to do? 

We are going to convert ryan reynolds --> ryanreynolds & ryan gosling --> ryan-gosling

In [50]:
# def converstion(x):
    
#     lower_ =[]
#     if isinstance(x,list):
#         for i in x:
#             lower_.append(str.lower(i.replace(" ", " ")))
#         return lower_
            
#     if isinstance(x,str):
#         lower_.append(str.lower(x.replace(" ", " ")))
#         return lower_
#     else: 
#         return ''

            
            
            
# Function to sanitize data to prevent ambiguity. It removes spaces and converts to lowercase
def converstion(x):
    if isinstance(x, list):
        #Strip spaces and convert to lowercase
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [51]:
columns_ = ['cast', 'Director','keywords', 'genres']

In [52]:
for features in clean_data[columns_]:
    clean_data[features]  = clean_data[features].apply(converstion)

/anaconda3/envs/C-vision/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
clean_data.head(5)

,title,cast,Director,keywords,genres
0,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy]","[animation, comedy, family]"
1,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston,"[boardgame, disappearance, basedonchildren'sbook]","[adventure, fantasy, family]"
2,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch,"[fishing, bestfriend, duringcreditsstinger]","[romance, comedy]"
3,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker,"[basedonnovel, interracialrelationship, single...","[comedy, drama, romance]"
4,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort]",charlesshyer,"[baby, midlifecrisis, confidence]",[comedy]

In [54]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['Director'] + ' ' + ' '.join(x['genres'])

In [55]:
clean_data['soup'] = clean_data.apply(create_soup,axis=1)

/anaconda3/envs/C-vision/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [56]:
clean_data

,title,cast,Director,keywords,genres,soup
0,Toy Story,"[tomhanks, timallen, donrickles]",johnlasseter,"[jealousy, toy, boy]","[animation, comedy, family]",jealousy toy boy tomhanks timallen donrickles ...
1,Jumanji,"[robinwilliams, jonathanhyde, kirstendunst]",joejohnston,"[boardgame, disappearance, basedonchildren'sbook]","[adventure, fantasy, family]",boardgame disappearance basedonchildren'sbook ...
2,Grumpier Old Men,"[waltermatthau, jacklemmon, ann-margret]",howarddeutch,"[fishing, bestfriend, duringcreditsstinger]","[romance, comedy]",fishing bestfriend duringcreditsstinger walter...
3,Waiting to Exhale,"[whitneyhouston, angelabassett, lorettadevine]",forestwhitaker,"[basedonnovel, interracialrelationship, single...","[comedy, drama, romance]",basedonnovel interracialrelationship singlemot...
4,Father of the Bride Part II,"[stevemartin, dianekeaton, martinshort]",charlesshyer,"[baby, midlifecrisis, confidence]",[comedy],baby midlifecrisis confidence stevemartin dian...
...,...,...,...,...,...,...
46623,Subdue,"[leilahatami, kouroshtahami, elhamkorda]",hamidnematollah,[tragiclove],"[drama, family]",tragiclove leilahatami kouroshtahami elhamkord...
46624,Century of Birthing,"[angelaquino, perrydizon, hazelorencio]",lavdiaz,"[artist, play, pinoy]",[drama],artist play pinoy angelaquino perrydizon hazel...
46625,Betrayal,"[erikaeleniak, adambaldwin, juliedupage]",markl.lester,[],"[action, drama, thriller]",erikaeleniak adambaldwin juliedupage markl.le...
46626,Satan Triumphant,"[iwanmosschuchin, nathalielissenko, pavelpavlov]",yakovprotazanov,[],[],iwanmosschuchin nathalielissenko pavelpavlov ...
46627,Queerama,[],daisyasquith,[],[],daisyasquith

In [57]:
clean_data.iloc[0]['soup']

'jealousy toy boy tomhanks timallen donrickles johnlasseter animation comedy family'

In [58]:
from sklearn.feature_extraction.text import CountVectorizer


count_ = CountVectorizer(encoding='english')
count_matrix = count_.fit_transform(clean_data["soup"])

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(count_matrix,count_matrix)

In [60]:
cosine_sim.shape

(46628, 46628)

In [92]:
indices = pd.Series(clean_data.index,index=clean_data['title']).drop_duplicates()

In [93]:
indices

title
Toy Story                          0
Jumanji                            1
Grumpier Old Men                   2
Waiting to Exhale                  3
Father of the Bride Part II        4
                               ...
Subdue                         46623
Century of Birthing            46624
Betrayal                       46625
Satan Triumphant               46626
Queerama                       46627
Length: 46628, dtype: int64

In [94]:
cosine_sim[indices['The Lion King']]

array([0.2       , 0.09534626, 0.        , ..., 0.1118034 , 0.        ,
       0.        ])

In [95]:
list(enumerate(cosine_sim[indices[359]]))

[(0, 0.2),
 (1, 0.09534625892455924),
 (2, 0.0),
 (3, 0.1),
 (4, 0.0),
 (5, 0.09534625892455924),
 (6, 0.0),
 (7, 0.33541019662496846),
 (8, 0.0),
 (9, 0.0),
 (10, 0.09534625892455924),
 (11, 0.0),
 (12, 0.19069251784911848),
 (13, 0.10540925533894598),
 (14, 0.0),
 (15, 0.10540925533894598),
 (16, 0.10540925533894598),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.10540925533894598),
 (22, 0.0),
 (23, 0.09534625892455924),
 (24, 0.10540925533894598),
 (25, 0.11180339887498948),
 (26, 0.19069251784911848),
 (27, 0.10540925533894598),
 (28, 0.0),
 (29, 0.1),
 (30, 0.09534625892455924),
 (31, 0.0),
 (32, 0.0),
 (33, 0.19069251784911848),
 (34, 0.1),
 (35, 0.11180339887498948),
 (36, 0.22360679774997896),
 (37, 0.10540925533894598),
 (38, 0.1),
 (39, 0.23904572186687872),
 (40, 0.10540925533894598),
 (41, 0.09534625892455924),
 (42, 0.10540925533894598),
 (43, 0.0),
 (44, 0.09534625892455924),
 (45, 0.10540925533894598),
 (46, 0.0),
 (47, 0.2860387767736777),
 (48, 0.10540925533894598),
 (49, 0.1),
 (50, 0.10540925533894598),
 (51, 0.0),
 (52, 0.11952286093343936),
 (53, 0.08770580193070293),
 (54, 0.11180339887498948),
 (55, 0.0),
 (56, 0.1),
 (57, 0.1),
 (58, 0.11180339887498948),
 (59, 0.1),
 (60, 0.1),
 (61, 0.19069251784911848),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.25819888974716115),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.10540925533894598),
 (72, 0.1),
 (73, 0.11180339887498948),
 (74, 0.11952286093343936),
 (75, 0.0),
 (76, 0.0),
 (77, 0.09534625892455924),
 (78, 0.1),
 (79, 0.21081851067789195),
 (80, 0.10540925533894598),
 (81, 0.10540925533894598),
 (82, 0.1),
 (83, 0.0),
 (84, 0.1),
 (85, 0.10540925533894598),
 (86, 0.1),
 (87, 0.0),
 (88, 0.09534625892455924),
 (89, 0.1414213562373095),
 (90, 0.09534625892455924),
 (91, 0.0),
 (92, 0.11180339887498948),
 (93, 0.09534625892455924),
 (94, 0.0),
 (95, 0.10540925533894598),
 (96, 0.1),
 (97, 0.0),
 (98, 0.10540925533894598),
 (99, 0.1),
 (100, 0.0),
 (101, 0.09534625892455924),
 (102, 0.0),
 (103, 0.09534625892455924),
 (104, 0.19069251784911848),
 (105, 0.0912870929175277),
 (106, 0.0),
 (107, 0.0),
 (108, 0.08770580193070293),
 (109, 0.10540925533894598),
 (110, 0.0),
 (111, 0.12909944487358058),
 (112, 0.11180339887498948),
 (113, 0.0),
 (114, 0.10540925533894598),
 (115, 0.1),
 (116, 0.0),
 (117, 0.10540925533894598),
 (118, 0.17541160386140586),
 (119, 0.12909944487358058),
 (120, 0.0),
 (121, 0.07669649888473705),
 (122, 0.12909944487358058),
 (123, 0.0),
 (124, 0.0),
 (125, 0.12909944487358058),
 (126, 0.0),
 (127, 0.0),
 (128, 0.11180339887498948),
 (129, 0.09534625892455924),
 (130, 0.0),
 (131, 0.1),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.11180339887498948),
 (137, 0.0),
 (138, 0.10540925533894598),
 (139, 0.0),
 (140, 0.11180339887498948),
 (141, 0.1),
 (142, 0.0),
 (143, 0.19069251784911848),
 (144, 0.10540925533894598),
 (145, 0.1),
 (146, 0.10540925533894598),
 (147, 0.11180339887498948),
 (148, 0.0),
 (149, 0.10540925533894598),
 (150, 0.0),
 (151, 0.10540925533894598),
 (152, 0.10540925533894598),
 (153, 0.0),
 (154, 0.0),
 (155, 0.1),
 (156, 0.1),
 (157, 0.08770580193070293),
 (158, 0.1),
 (159, 0.0),
 (160, 0.0),
 (161, 0.1),
 (162, 0.0),
 (163, 0.09534625892455924),
 (164, 0.12909944487358058),
 (165, 0.09534625892455924),
 (166, 0.0),
 (167, 0.09534625892455924),
 (168, 0.09534625892455924),
 (169, 0.0912870929175277),
 (170, 0.0),
 (171, 0.10540925533894598),
 (172, 0.11180339887498948),
 (173, 0.10540925533894598),
 (174, 0.0),
 (175, 0.12909944487358058),
 (176, 0.19069251784911848),
 (177, 0.0),
 (178, 0.0912870929175277),
 (179, 0.1),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0912870929175277),
 (183, 0.0),
 (184, 0.0),
 (185, 0.0),
 (186, 0.1),
 (187, 0.11180339887498948),
 (188, 0.1),
 (189, 0.0),
 (190, 0.10540925533894598),
 (191, 0.10540925533894598),
 (192, 0.0),
 (193, 0.0),
 (194, 0.11180339887498948),
 (195, 0.09534625892455924),
 (196, 0.10540925533894598),
 (197, 0.0),
 (198, 0.10540925533894598),
 (199, 0.10540925533894598),
 (200, 0.0),
 (201, 0.0),
 (202, 0.22360679774997896),
 (203, 0.0),
 (204, 0.1),
 (205, 0.0),
 (206, 0.11180339887498948),
 (207, 0.0),
 (208, 0.1414213562373095),
 (209, 0.0912870929175277),
 (210, 0.10540925533894598),
 (211, 0.10540925533894598),
 (212, 0.10540925533894598),
 (213, 0.0),
 (214, 0.10540925533894598),
 (215, 0.1),
 (216, 0.23904572186687872),
 (217, 0.1),
 (218, 0.17541160386140586),
 (219, 0.0),
 (220, 0.1),
 (221, 0.0912870929175277),
 (222, 0.0),
 (223, 0.0),
 (224, 0.0),
 (225, 0.09534625892455924),
 (226, 0.1),
 (227, 0.0),
 (228, 0.09534625892455924),
 (229, 0.10540925533894598),
 (230, 0.0),
 (231, 0.1),
 (232, 0.0),
 (233, 0.0912870929175277),
 (234, 0.2),
 (235, 0.1825741858350554),
 (236, 0.11952286093343936),
 (237, 0.19069251784911848),
 (238, 0.10540925533894598),
 (239, 0.23904572186687872),
 (240, 0.282842712474619),
 (241, 0.11180339887498948),
 (242, 0.0),
 (243, 0.10540925533894598),
 (244, 0.12909944487358058),
 (245, 0.0912870929175277),
 (246, 0.21081851067789195),
 (247, 0.0),
 (248, 0.1),
 (249, 0.0),
 (250, 0.10540925533894598),
 (251, 0.0),
 (252, 0.1),
 (253, 0.09534625892455924),
 (254, 0.0912870929175277),
 (255, 0.1),
 (256, 0.0),
 (257, 0.10540925533894598),
 (258, 0.2),
 (259, 0.22360679774997896),
 (260, 0.12909944487358058),
 (261, 0.10540925533894598),
 (262, 0.09534625892455924),
 (263, 0.1),
 (264, 0.10540925533894598),
 (265, 0.10540925533894598),
 (266, 0.10540925533894598),
 (267, 0.11180339887498948),
 (268, 0.1),
 (269, 0.08770580193070293),
 (270, 0.23904572186687872),
 (271, 0.1),
 (272, 0.0),
 (273, 0.2),
 (274, 0.0),
 (275, 0.10540925533894598),
 (276, 0.10540925533894598),
 (277, 0.19069251784911848),
 (278, 0.10540925533894598),
 (279, 0.10540925533894598),
 (280, 0.11180339887498948),
 (281, 0.0),
 (282, 0.0),
 (283, 0.11952286093343936),
 (284, 0.1),
 (285, 0.1),
 (286, 0.10540925533894598),
 (287, 0.1),
 (288, 0.09534625892455924),
 (289, 0.1),
 (290, 0.1),
 (291, 0.1),
 (292, 0.0),
 (293, 0.11952286093343936),
 (294, 0.11952286093343936),
 (295, 0.10540925533894598),
 (296, 0.10540925533894598),
 (297, 0.10540925533894598),
 (298, 0.1),
 (299, 0.0),
 (300, 0.10540925533894598),
 (301, 0.1),
 (302, 0.08451542547285167),
 (303, 0.1),
 (304, 0.1),
 (305, 0.15811388300841897),
 (306, 0.11952286093343936),
 (307, 0.10540925533894598),
 (308, 0.11952286093343936),
 (309, 0.11952286093343936),
 (310, 0.2),
 (311, 0.0),
 (312, 0.0),
 (313, 0.19069251784911848),
 (314, 0.10540925533894598),
 (315, 0.0),
 (316, 0.10540925533894598),
 (317, 0.10540925533894598),
 (318, 0.0),
 (319, 0.1),
 (320, 0.0),
 (321, 0.1),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.12909944487358058),
 (327, 0.0),
 (328, 0.0),
 (329, 0.11180339887498948),
 (330, 0.0),
 (331, 0.1),
 (332, 0.10540925533894598),
 (333, 0.0),
 (334, 0.1),
 (335, 0.11180339887498948),
 (336, 0.0),
 (337, 0.1),
 (338, 0.2),
 (339, 0.0),
 (340, 0.10540925533894598),
 (341, 0.1),
 (342, 0.1),
 (343, 0.0),
 (344, 0.1),
 (345, 0.0912870929175277),
 (346, 0.19069251784911848),
 (347, 0.10540925533894598),
 (348, 0.0),
 (349, 0.11180339887498948),
 (350, 0.0912870929175277),
 (351, 0.1),
 (352, 0.1),
 (353, 0.1),
 (354, 0.1),
 (355, 0.0),
 (356, 0.1),
 (357, 0.2),
 (358, 0.0),
 (359, 0.9999999999999999),
 (360, 0.10540925533894598),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0912870929175277),
 (364, 0.22360679774997896),
 (365, 0.0),
 (366, 0.10540925533894598),
 (367, 0.1),
 (368, 0.1),
 (369, 0.19069251784911848),
 (370, 0.11180339887498948),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.0),
 (376, 0.21081851067789195),
 (377, 0.0),
 (378, 0.1),
 (379, 0.0),
 (380, 0.10540925533894598),
 (381, 0.10540925533894598),
 (382, 0.0),
 (383, 0.1414213562373095),
 (384, 0.1414213562373095),
 (385, 0.0),
 (386, 0.1),
 (387, 0.11952286093343936),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0912870929175277),
 (392, 0.0),
 (393, 0.0),
 (394, 0.09534625892455924),
 (395, 0.10540925533894598),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.1),
 (404, 0.11952286093343936),
 (405, 0.1),
 (406, 0.0),
 (407, 0.1),
 (408, 0.0),
 (409, 0.11952286093343936),
 (410, 0.0),
 (411, 0.0912870929175277),
 (412, 0.1),
 (413, 0.1),
 (414, 0.0),
 (415, 0.0),
 (416, 0.19069251784911848),
 (417, 0.1),
 (418, 0.1),
 (419, 0.19069251784911848),
 (420, 0.10540925533894598),
 (421, 0.0),
 (422, 0.10540925533894598),
 (423, 0.09534625892455924),
 (424, 0.0),
 (425, 0.1),
 (426, 0.09534625892455924),
 (427, 0.09534625892455924),
 (428, 0.11952286093343936),
 (429, 0.0),
 (430, 0.09534625892455924),
 (431, 0.09534625892455924),
 (432, 0.1),
 (433, 0.0),
 (434, 0.11180339887498948),
 (435, 0.0),
 (436, 0.10540925533894598),
 (437, 0.0),
 (438, 0.0),
 (439, 0.09534625892455924),
 (440, 0.0),
 (441, 0.11180339887498948),
 (442, 0.11952286093343936),
 (443, 0.11180339887498948),
 (444, 0.0),
 (445, 0.10540925533894598),
 (446, 0.1),
 (447, 0.0),
 (448, 0.0),
 (449, 0.1),
 (450, 0.10540925533894598),
 (451, 0.09534625892455924),
 (452, 0.0),
 (453, 0.09534625892455924),
 (454, 0.1),
 (455, 0.11952286093343936),
 (456, 0.10540925533894598),
 (457, 0.11952286093343936),
 (458, 0.12909944487358058),
 (459, 0.0),
 (460, 0.09534625892455924),
 (461, 0.0),
 (462, 0.0),
 (463, 0.1),
 (464, 0.10540925533894598),
 (465, 0.0),
 (466, 0.10540925533894598),
 (467, 0.1),
 (468, 0.0),
 (469, 0.0912870929175277),
 (470, 0.10540925533894598),
 (471, 0.11952286093343936),
 (472, 0.10540925533894598),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.0),
 (477, 0.0912870929175277),
 (478, 0.11180339887498948),
 (479, 0.21081851067789195),
 (480, 0.0912870929175277),
 (481, 0.11952286093343936),
 (482, 0.0),
 (483, 0.11180339887498948),
 (484, 0.0),
 (485, 0.10540925533894598),
 (486, 0.1),
 (487, 0.0),
 (488, 0.1),
 (489, 0.09534625892455924),
 (490, 0.10540925533894598),
 (491, 0.0912870929175277),
 (492, 0.0912870929175277),
 (493, 0.10540925533894598),
 (494, 0.0),
 (495, 0.2),
 (496, 0.11952286093343936),
 (497, 0.0),
 (498, 0.10540925533894598),
 (499, 0.09534625892455924),
 (500, 0.17541160386140586),
 (501, 0.1),
 (502, 0.0912870929175277),
 (503, 0.11180339887498948),
 (504, 0.10540925533894598),
 (505, 0.10540925533894598),
 (506, 0.11180339887498948),
 (507, 0.0),
 (508, 0.08770580193070293),
 (509, 0.0),
 (510, 0.10540925533894598),
 (511, 0.0),
 (512, 0.1),
 (513, 0.10540925533894598),
 (514, 0.0),
 (515, 0.0),
 (516, 0.09534625892455924),
 (517, 0.1),
 (518, 0.11952286093343936),
 (519, 0.11180339887498948),
 (520, 0.11180339887498948),
 (521, 0.11952286093343936),
 (522, 0.1),
 (523, 0.10540925533894598),
 (524, 0.11180339887498948),
 (525, 0.11180339887498948),
 (526, 0.2),
 (527, 0.0),
 (528, 0.0),
 (529, 0.10540925533894598),
 (530, 0.10540925533894598),
 (531, 0.25819888974716115),
 (532, 0.10540925533894598),
 (533, 0.1),
 (534, 0.1),
 (535, 0.10540925533894598),
 (536, 0.1),
 (537, 0.1),
 (538, 0.0),
 (539, 0.0),
 (540, 0.11952286093343936),
 (541, 0.09534625892455924),
 (542, 0.0),
 (543, 0.0),
 (544, 0.11180339887498948),
 (545, 0.19069251784911848),
 (546, 0.19069251784911848),
 (547, 0.0),
 (548, 0.08770580193070293),
 (549, 0.10540925533894598),
 (550, 0.0),
 (551, 0.0),
 (552, 0.19069251784911848),
 (553, 0.10540925533894598),
 (554, 0.0),
 (555, 0.09534625892455924),
 (556, 0.10540925533894598),
 (557, 0.1),
 (558, 0.0),
 (559, 0.1),
 (560, 0.0),
 (561, 0.10540925533894598),
 (562, 0.10540925533894598),
 (563, 0.11180339887498948),
 (564, 0.11180339887498948),
 (565, 0.11180339887498948),
 (566, 0.12909944487358058),
 (567, 0.0),
 (568, 0.1),
 (569, 0.1),
 (570, 0.0),
 (571, 0.22360679774997896),
 (572, 0.11952286093343936),
 (573, 0.11180339887498948),
 (574, 0.0),
 (575, 0.10540925533894598),
 (576, 0.10540925533894598),
 (577, 0.10540925533894598),
 (578, 0.0),
 (579, 0.10540925533894598),
 (580, 0.0912870929175277),
 (581, 0.17541160386140586),
 (582, 0.0),
 (583, 0.0912870929175277),
 (584, 0.1),
 (585, 0.0),
 (586, 0.1),
 (587, 0.2),
 (588, 0.17541160386140586),
 (589, 0.21081851067789195),
 (590, 0.0),
 (591, 0.1),
 (592, 0.0),
 (593, 0.0),
 (594, 0.09534625892455924),
 (595, 0.0),
 (596, 0.0),
 (597, 0.0),
 (598, 0.0),
 (599, 0.10540925533894598),
 (600, 0.09534625892455924),
 (601, 0.2),
 (602, 0.10540925533894598),
 (603, 0.0),
 (604, 0.0),
 (605, 0.11180339887498948),
 (606, 0.1),
 (607, 0.0),
 (608, 0.19069251784911848),
 (609, 0.10540925533894598),
 (610, 0.0),
 (611, 0.10540925533894598),
 (612, 0.1),
 (613, 0.11180339887498948),
 (614, 0.0),
 (615, 0.11180339887498948),
 (616, 0.11952286093343936),
 (617, 0.0),
 (618, 0.0912870929175277),
 (619, 0.09534625892455924),
 (620, 0.0),
 (621, 0.10540925533894598),
 (622, 0.2),
 (623, 0.09534625892455924),
 (624, 0.0),
 (625, 0.1),
 (626, 0.21081851067789195),
 (627, 0.12909944487358058),
 (628, 0.10540925533894598),
 (629, 0.09534625892455924),
 (630, 0.0),
 (631, 0.0912870929175277),
 (632, 0.16903085094570333),
 (633, 0.12909944487358058),
 (634, 0.0),
 (635, 0.0),
 (636, 0.10540925533894598),
 (637, 0.09534625892455924),
 (638, 0.0),
 (639, 0.11952286093343936),
 (640, 0.10540925533894598),
 (641, 0.0),
 (642, 0.0),
 (643, 0.0),
 (644, 0.1414213562373095),
 (645, 0.1414213562373095),
 (646, 0.0),
 (647, 0.10540925533894598),
 (648, 0.0),
 (649, 0.1),
 (650, 0.0912870929175277),
 (651, 0.30000000000000004),
 (652, 0.10540925533894598),
 (653, 0.0),
 (654, 0.09534625892455924),
 (655, 0.0912870929175277),
 (656, 0.1),
 (657, 0.0),
 (658, 0.11180339887498948),
 (659, 0.11180339887498948),
 (660, 0.0),
 (661, 0.0),
 (662, 0.27386127875258315),
 (663, 0.0),
 (664, 0.1),
 (665, 0.0),
 (666, 0.11952286093343936),
 (667, 0.11180339887498948),
 (668, 0.09534625892455924),
 (669, 0.11952286093343936),
 (670, 0.0),
 (671, 0.0),
 (672, 0.10540925533894598),
 (673, 0.11180339887498948),
 (674, 0.12909944487358058),
 (675, 0.11180339887498948),
 (676, 0.1),
 (677, 0.1),
 (678, 0.1),
 (679, 0.1),
 (680, 0.1),
 (681, 0.1),
 (682, 0.1),
 (683, 0.1),
 (684, 0.1),
 (685, 0.0),
 (686, 0.1825741858350554),
 (687, 0.0),
 (688, 0.0),
 (689, 0.10540925533894598),
 (690, 0.0912870929175277),
 (691, 0.10540925533894598),
 (692, 0.0),
 (693, 0.19069251784911848),
 (694, 0.11952286093343936),
 (695, 0.11180339887498948),
 (696, 0.09534625892455924),
 (697, 0.0),
 (698, 0.0),
 (699, 0.11180339887498948),
 (700, 0.1),
 (701, 0.0),
 (702, 0.2),
 (703, 0.0),
 (704, 0.10540925533894598),
 (705, 0.11180339887498948),
 (706, 0.11180339887498948),
 (707, 0.1),
 (708, 0.0912870929175277),
 (709, 0.1),
 (710, 0.0),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.11952286093343936),
 (715, 0.09534625892455924),
 (716, 0.1),
 (717, 0.12909944487358058),
 (718, 0.0),
 (719, 0.11952286093343936),
 (720, 0.25819888974716115),
 (721, 0.1),
 (722, 0.09534625892455924),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0912870929175277),
 (726, 0.1),
 (727, 0.0),
 (728, 0.1414213562373095),
 (729, 0.0),
 (730, 0.1),
 (731, 0.0),
 (732, 0.0),
 (733, 0.12909944487358058),
 (734, 0.21081851067789195),
 (735, 0.10540925533894598),
 (736, 0.10540925533894598),
 (737, 0.0),
 (738, 0.10540925533894598),
 (739, 0.09534625892455924),
 (740, 0.1),
 (741, 0.0),
 (742, 0.1),
 (743, 0.11180339887498948),
 (744, 0.11952286093343936),
 (745, 0.0),
 (746, 0.11180339887498948),
 (747, 0.0),
 (748, 0.0),
 (749, 0.10540925533894598),
 (750, 0.0),
 (751, 0.1),
 (752, 0.11952286093343936),
 (753, 0.10540925533894598),
 (754, 0.1),
 (755, 0.11952286093343936),
 (756, 0.2),
 (757, 0.1),
 (758, 0.0),
 (759, 0.0),
 (760, 0.11180339887498948),
 (761, 0.11180339887498948),
 (762, 0.1),
 (763, 0.0),
 (764, 0.11952286093343936),
 (765, 0.10540925533894598),
 (766, 0.0),
 (767, 0.0),
 (768, 0.12909944487358058),
 (769, 0.1),
 (770, 0.30000000000000004),
 (771, 0.2),
 (772, 0.0),
 (773, 0.09534625892455924),
 (774, 0.0),
 (775, 0.0),
 (776, 0.11952286093343936),
 (777, 0.11952286093343936),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.12909944487358058),
 (782, 0.1414213562373095),
 (783, 0.0),
 (784, 0.0),
 (785, 0.0),
 (786, 0.09534625892455924),
 (787, 0.1825741858350554),
 (788, 0.09534625892455924),
 (789, 0.10540925533894598),
 (790, 0.0),
 (791, 0.09534625892455924),
 (792, 0.11180339887498948),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0912870929175277),
 (797, 0.0),
 (798, 0.12909944487358058),
 (799, 0.0),
 (800, 0.0),
 (801, 0.12909944487358058),
 (802, 0.0),
 (803, 0.0),
 (804, 0.1),
 (805, 0.11952286093343936),
 (806, 0.11180339887498948),
 (807, 0.10540925533894598),
 (808, 0.0),
 (809, 0.1414213562373095),
 (810, 0.0),
 (811, 0.30000000000000004),
 (812, 0.0),
 (813, 0.0),
 (814, 0.1),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.09534625892455924),
 (819, 0.09534625892455924),
 (820, 0.0912870929175277),
 (821, 0.1),
 (822, 0.0),
 (823, 0.10540925533894598),
 (824, 0.1),
 (825, 0.0),
 (826, 0.22360679774997896),
 (827, 0.0),
 (828, 0.0),
 (829, 0.12909944487358058),
 (830, 0.11952286093343936),
 (831, 0.10540925533894598),
 (832, 0.0),
 (833, 0.10540925533894598),
 (834, 0.10540925533894598),
 (835, 0.0912870929175277),
 (836, 0.10540925533894598),
 (837, 0.11180339887498948),
 (838, 0.12909944487358058),
 (839, 0.0),
 (840, 0.0),
 (841, 0.10540925533894598),
 (842, 0.10540925533894598),
 (843, 0.0),
 (844, 0.10540925533894598),
 (845, 0.11180339887498948),
 (846, 0.11180339887498948),
 (847, 0.11180339887498948),
 (848, 0.11180339887498948),
 (849, 0.11180339887498948),
 (850, 0.11180339887498948),
 (851, 0.11180339887498948),
 (852, 0.11180339887498948),
 (853, 0.0),
 (854, 0.0912870929175277),
 (855, 0.10540925533894598),
 (856, 0.11180339887498948),
 (857, 0.09534625892455924),
 (858, 0.10540925533894598),
 (859, 0.0),
 (860, 0.0912870929175277),
 (861, 0.11952286093343936),
 (862, 0.11180339887498948),
 (863, 0.10540925533894598),
 (864, 0.0),
 (865, 0.12909944487358058),
 (866, 0.1825741858350554),
 (867, 0.0),
 (868, 0.0),
 (869, 0.1),
 (870, 0.10540925533894598),
 (871, 0.0),
 (872, 0.1),
 (873, 0.0),
 (874, 0.11180339887498948),
 (875, 0.22360679774997896),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.1),
 (880, 0.10540925533894598),
 (881, 0.10540925533894598),
 (882, 0.12909944487358058),
 (883, 0.10540925533894598),
 (884, 0.1),
 (885, 0.0),
 (886, 0.0),
 (887, 0.09534625892455924),
 (888, 0.0),
 (889, 0.1),
 (890, 0.0),
 (891, 0.1),
 (892, 0.0),
 (893, 0.09534625892455924),
 (894, 0.0),
 (895, 0.0),
 (896, 0.09534625892455924),
 (897, 0.0),
 (898, 0.0),
 (899, 0.10540925533894598),
 (900, 0.0),
 (901, 0.19069251784911848),
 (902, 0.1),
 (903, 0.0),
 (904, 0.21081851067789195),
 (905, 0.0),
 (906, 0.1),
 (907, 0.1),
 (908, 0.1),
 (909, 0.10540925533894598),
 (910, 0.09534625892455924),
 (911, 0.0),
 (912, 0.0),
 (913, 0.10540925533894598),
 (914, 0.10540925533894598),
 (915, 0.10540925533894598),
 (916, 0.0),
 (917, 0.1),
 (918, 0.1),
 (919, 0.10540925533894598),
 (920, 0.0912870929175277),
 (921, 0.2),
 (922, 0.0),
 (923, 0.0),
 (924, 0.1),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.1),
 (929, 0.10540925533894598),
 (930, 0.0),
 (931, 0.09534625892455924),
 (932, 0.0),
 (933, 0.0),
 (934, 0.0),
 (935, 0.1),
 (936, 0.11180339887498948),
 (937, 0.0),
 (938, 0.10540925533894598),
 (939, 0.0912870929175277),
 (940, 0.2),
 (941, 0.10540925533894598),
 (942, 0.0),
 (943, 0.10540925533894598),
 (944, 0.11952286093343936),
 (945, 0.0),
 (946, 0.10540925533894598),
 (947, 0.0),
 (948, 0.21081851067789195),
 (949, 0.08770580193070293),
 (950, 0.0),
 (951, 0.0),
 (952, 0.0),
 (953, 0.10540925533894598),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.08770580193070293),
 (958, 0.10540925533894598),
 (959, 0.10540925533894598),
 (960, 0.1),
 (961, 0.09534625892455924),
 (962, 0.0),
 (963, 0.1),
 (964, 0.1),
 (965, 0.1),
 (966, 0.1),
 (967, 0.1),
 (968, 0.1),
 (969, 0.1),
 (970, 0.1),
 (971, 0.0),
 (972, 0.12909944487358058),
 (973, 0.0),
 (974, 0.12909944487358058),

In [102]:
def meta_recommendation(title,data,cosine_sim,indicies):
    
    idx = indices[title]
    
    score = list(enumerate(cosine_sim[indices[idx]]))
    
    score = sorted(score,key=lambda x:x[1], reverse=True )
    
    score = score[1:11]
    
    movies_recommendation =[]
    for i in score:
        movies_recommendation.append(i[0])
    
    return data.iloc[movies_recommendation]['title']

In [104]:
meta_recommendation(title='Jumanji',data=clean_data,cosine_sim=cosine_sim,indicies=indices)

24871               Tinker Bell and the Lost Treasure
14455                       Where the Wild Things Are
33042                   Hamtaro: The Captive Princess
14780          Playmobil: The Secret of Pirate Island
26717                                  Mostly Ghostly
38713                          Jack and the Beanstalk
552                                    The Pagemaster
3395                                             Hook
30651    Mostly Ghostly: Have You Met My Ghoulfriend?
41598       Mostly Ghostly 3: One Night in Doom House
Name: title, dtype: object